thrift==0.8.0
pyzmq
greenlet
gevent
gevent-zeromq
git+https://github.com/basho/riak-python-client.git@1.4.0#egg=riak

git+ssh://dev.30and30.com/30and30/repos/techresidents/lib/python/zookeeper.git@3.3.5#egg=zookeeper
git+ssh://dev.30and30.com/30and30/repos/techresidents/lib/python/trpycore#egg=trpycore
git+ssh://dev.30and30.com/30and30/repos/techresidents/services/core/python/trsvcscore#egg=trsvcscore

http://nexus.dev.30and30.com/content/groups/public/com/techresidents/services/core/idl/idl-core-python/0.3.0/idl-core-python-0.3.0-bin.tar.gz#egg=tridlcore
http://nexus.dev.30and30.com/content/groups/public/com/techresidents/services/lookupsvc/lookupsvc-idl-python/0.1-SNAPSHOT/lookupsvc-idl-python-0.1-SNAPSHOT-bin.tar.gz#egg=lookupsvc
